h1
{
  font-size: 5em;
  color:#333;
  
  text-shadow: 1px 1px 2px #111, -1px -1px 2px #555;
}


a
{
  text-decoration: none;
  color : #555;
}

body
{
  background: #ccc;
  margin-top: 0px;
}

#baseContainer
{
  width:80%;
  background: #bbb;
  margin: 0px auto;
}

header
{
  background:#444;
  text-align: center;
  min-height: 6em;
}

article
{
  background : #444;
  min-height : 20em;
  
  margin-top : -4em;/* hack :  only works on github, should be 0 otherwise! */
}

footer
{
  background:#444;
  color : #555;
  min-height:4em;
  text-align:center;
}

footer a
{
  color : #333;
}

/* coda-slider */
.coda-slider-wrapper
{
  width : 750px;
  margin : 0px auto;
}
.coda-slider 
{ 
  background: #777; 
  
  text-shadow: 1px 1px 0.5px #999;
  
  border-radius: 1em;
  -moz-border-radius: 1em;
  
  -moz-box-shadow: 0.1em 0.1em 2px #000, -0.1em -0.1em 1px #AAA;
  -webkit-box-shadow: 0.1em 0.1em 2px #000, -0.1em -0.1em 1px #AAA;
  box-shadow: 0.2em 0.1em 0.1em 2px #000, -0.1em -0.1em 1px #AAA;
}
.coda-nav-left a, .coda-nav-right a 
{ 
  background: #777; 
  color: #fff; 
  padding: 5px;
  margin-top:100px;
  width: 50px; 
  
  text-shadow: 1px 1px 0.5px #000;
  
  border-radius: 1em;
  -moz-border-radius: 1em;
  
  -moz-box-shadow: 0.1em 0.1em 1px #000, -0.1em -0.1em 1px #AAA;
  -webkit-box-shadow: 0.1em 0.1em 1px #000, -0.1em -0.1em 1px #AAA;
  box-shadow: 0.2em 0.1em 0.1em 1px #000, -0.1em -0.1em 1px #AAA;
}
